<?xml version="1.0"?>
<robot name="mecanum_vehicle" xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  
  <xacro:include filename="$(find mecanum_description)/urdf/crta/mecanum_properties.urdf.xacro" />
  <xacro:include filename="$(find mecanum_description)/urdf/sensors/2d-lidar.xacro" />
  <!-- <xacro:include filename="$(find mecanum_description)/urdf/sensors/3d-lidar.xacro" /> -->
  <xacro:include filename="$(find mecanum_description)/urdf/sensors/camera.xacro" />
  <xacro:include filename="$(find mecanum_description)/urdf/sensors/imu.xacro" />
  <xacro:property name="s" value="0.3"/>

  <link name="base_footprint"/>

  <material name="orange">
    <color rgba="0.8 0.4 0.0 1.0"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1.0"/>
  </material>

  <!-- Base Link -->
  <link name="base_link">
    <collision>
      <origin xyz="${0*s} ${0*s} ${0.3*s}" rpy="0 0 0"/>
      <geometry>
        <box size="${2*s} ${1*s} ${0.5*s}"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="${0*s} ${0*s} ${0.3*s}" rpy="0 0 0"/>
      <geometry>
        <box size="${2*s} ${1*s} ${0.5*s}"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <inertial>
      <origin xyz="${0*s} ${-0*s} ${0.1*s}" rpy="0 0 0"/>
      <mass value="${30.5*pow(s, 3)}"/>
      <inertia
        ixx="${0.25*pow(s, 5)}"
        ixy="${0.0*pow(s, 5)}"
        ixz="${0.0*pow(s, 5)}"
        iyy="${0.6*pow(s, 5)}"
        iyz="${0.0*pow(s, 5)}"
        izz="${0.7*pow(s, 5)}"/>
    </inertial>
  </link>

  <!-- front left wheel -->
  <joint name="front_left_wheel_joint" type="continuous">
    <origin xyz="${0.6*s} ${0.5*s} ${0.3*s}" rpy="-${pi/2} 0 0"/>
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>
  <link name="front_left_wheel">
    <collision>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
      <material name="black"/>
    </visual>
    <inertial>
      <mass value="${15*pow(s, 3)}"/>
      <inertia ixx="${0.145*pow(s, 5)}"
               ixy="${0.0*pow(s, 5)}"
               ixz="${0.0*pow(s, 5)}"
               iyy="${0.145*pow(s, 5)}"
               iyz="${0.0*pow(s, 5)}"
               izz="${0.125*pow(s, 5)}"/>
    </inertial>
  </link>

  <!-- front right wheel -->
  <joint name="front_right_wheel_joint" type="continuous">
    <origin xyz="${0.6*s} ${-0.5*s} ${0.3*s}" rpy="-${pi/2} 0 0"/>
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>
  <link name="front_right_wheel">
    <collision>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
      <material name="black"/>
    </visual>
    <inertial>
      <mass value="${15*pow(s, 3)}"/>
      <inertia ixx="${0.145*pow(s, 5)}"
               ixy="${0.0*pow(s, 5)}"
               ixz="${0.0*pow(s, 5)}"
               iyy="${0.145*pow(s, 5)}"
               iyz="${0.0*pow(s, 5)}"
               izz="${0.125*pow(s, 5)}"/>
      </inertial>
  </link>

  <!-- rear left wheel -->
  <joint name="rear_left_wheel_joint" type="continuous">
    <origin xyz="${-0.6*s} ${0.5*s} ${0.3*s}" rpy="-${pi/2} 0 0"/>
    <parent link="base_link"/>
    <child link="rear_left_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>
  <link name="rear_left_wheel">
    <collision>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
      <material name="black"/>
    </visual>
    <inertial>
      <mass value="${15*pow(s, 3)}"/>
      <inertia ixx="${0.145*pow(s, 5)}"
               ixy="${0.0*pow(s, 5)}"
               ixz="${0.0*pow(s, 5)}"
               iyy="${0.145*pow(s, 5)}"
               iyz="${0.0*pow(s, 5)}"
               izz="${0.125*pow(s, 5)}"/>
    </inertial>
  </link>

  <!-- rear right wheel -->
  <joint name="rear_right_wheel_joint" type="continuous">
    <origin xyz="${-0.6*s} ${-0.5*s} ${0.3*s}" rpy="-${pi/2} 0 0"/>
    <parent link="base_link"/>
    <child link="rear_right_wheel"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.2"/>
  </joint>
  <link name="rear_right_wheel">
    <collision>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <sphere radius="${0.3*s}"/>
      </geometry>
      <material name="black"/>
    </visual>
    <inertial>
      <mass value="${15*pow(s, 3)}"/>
      <inertia ixx="${0.145*pow(s, 5)}"
               ixy="${0.0*pow(s, 5)}"
               ixz="${0.0*pow(s, 5)}"
               iyy="${0.145*pow(s, 5)}"
               iyz="${0.0*pow(s, 5)}"
               izz="${0.125*pow(s, 5)}"/>
      </inertial>
  </link>

  <!-- To emulate Mecanum wheels in Gazebo with spherical collisions it
  requires a custom friction model so the vehicle can strafe left to right -->
  <gazebo reference='front_left_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0.85</mu>
            <mu2>0.22</mu2>
            <fdir1 gz:expressed_in="base_link">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='front_right_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0.85</mu>
            <mu2>0.22</mu2>
            <fdir1 gz:expressed_in="base_link">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='rear_left_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0.85</mu>
            <mu2>0.22</mu2>
            <fdir1 gz:expressed_in="base_link">1 1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>
  <gazebo reference='rear_right_wheel'>
    <collision>
      <surface>
        <friction>
          <ode>
            <mu>0.85</mu>
            <mu2>0.22</mu2>
            <fdir1 gz:expressed_in="base_link">1 -1 0</fdir1>
          </ode>
        </friction>
      </surface>
    </collision>
  </gazebo>

  <joint name="base_to_footprint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:rgbd_camera
      parent="base_link"
      name="camera"
      topic_name="camera">
    <xacro:insert_block name="camera_sensor_pose" />
  </xacro:rgbd_camera>

  <xacro:lidar 
    parent="base_link" 
    child="laser">
    <xacro:insert_block name="laser_pose"/>
    <!-- <origin xyz="0.1 0 0.2" rpy="0 0 0"/>  -->
  </xacro:lidar>

  <xacro:imu
      parent="base_link"
      name="imu"
      topic_name="imu">
    <xacro:insert_block name="imu_sensor_pose" />
  </xacro:imu>

  <!-- Define the vehicles hardware, command and state interfaces -->
  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="front_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="front_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="rear_right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">-1</param>
        <param name="max">1</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

  <!-- ROS2 Control plugin and topic re-mapping -->
  <!-- <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mecanum_description)/config/mecanum_drive_controller.yaml</parameters>
      <ros>
        <remapping>/mecanum_drive_controller/reference:=/cmd_vel</remapping>
        <remapping>/mecanum_drive_controller/odometry:=/odom</remapping>
      </ros>
    </plugin>
  </gazebo> -->

    <!-- <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mecanum_description)/config/linorobot_mecanum_drive_controller.yaml</parameters>
      <ros>
        <remapping>/mecanum_drive_controller/reference:=/cmd_vel</remapping>
        <remapping>/mecanum_drive_controller/odometry:=/odom</remapping>
      </ros>
    </plugin>
  </gazebo> -->
  
    <!-- ROS2 Control plugin and topic re-mapping -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find mecanum_description)/config/linorobot_mecanum_drive_controller.yaml</parameters>
      <ros>
        <!-- remap unstamped cmd_vel-->
        <remapping>/mecanum_drive_controller/reference_unstamped:=/cmd_vel</remapping>
        <!-- remap stamped cmd_vel-->
        <!-- <remapping>/mecanum_drive_controller/reference:=/cmd_vel</remapping> -->  
        <remapping>/mecanum_drive_controller/odometry:=/odom</remapping>
        <remapping>/mecanum_drive_controller/tf_odometry:=/tf</remapping>
      </ros>
    </plugin>
  </gazebo>

</robot>
